// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new {
	width: 202px;
	margin: 0 auto;
	margin-top: 60px;
}
.best {
	width: 287px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

.comment {
	border-bottom: 2px;
}
.show-image {
	margin-top: 30px;
}

.main {
	background-color: #fcedcf;
}